<body>
 

   
   <div class="container col-md-12 mt-5">
       <div class="d-flex justify-content-center h-100">
           <div class="card mt-5">
               <div class="card-header">
                   <h3 class="text-center">Sign Up</h3>
                   
               </div>
               <div class="card-body">
                   <form  (ngSubmit)="register()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                       
                      <input type="text" name="usname"[(ngModel)]="usname" class="form-control" placeholder="UserName" id="login_accno" required>


                        
                    </div>

                    <!--  -->
                       <div class="input-group form-group">
                           <div class="input-group-prepend">
                               <span class="input-group-text"><i class="fas fa-user"></i></span>
                           </div>
                           <!-- <input type="text" (change)="acNochnage($event)" class="form-control" [placeholder]="accnum  " id="login_accno" required>
                         -->
                         <!-- <input type="text" #acno class="form-control" [placeholder]="accnum  " id="login_accno" required> -->
                         <input type="text" name="acno"[(ngModel)]="acno" class="form-control" placeholder="accnum  " id="login_accno" required>


                           
                       </div>
                       <div class="input-group form-group">
                           <div class="input-group-prepend">
                               <span class="input-group-text"><i class="fas fa-key"></i></span>
                           </div>
                           <!-- <input type="password" (change)="pwdchnage($event)"  class="form-control" placeholder="password" id="login_password" required> -->
                           <!-- <input type="password" #pwd  class="form-control" placeholder="password" id="login_password" required> -->
                           <input type="password" name="pwd"[(ngModel)]="pwd"  class="form-control" placeholder="password" id="login_password" required>
                       </div>
                       
                       <div class="form-group">
                           <input type="submit"  value="Register" class="btn float-right login_btn " style="width:50%" >
                       </div>
                   </form>
               </div>
               <p style="color:white;align-items:baseline;">exixting user <a routerLink="">login</a></p>
           </div>
       </div>
   </div>
   

